<!-- THE CSS WAS JUST PASTED AS IS FROM THE COURSE FILES -->
<head>
    <meta charset="utf-8" />
    <!-- <% %> is used by EJS to embed JS, to use the values we need to use <%= %>-->
    <title>NodeJS Tutorial | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>